<% @news.each do |article| %>
  <div class="col-md-4 article-padding">
  <a href="<%= article[:link] %>"><p><strong><%= article[:title] %></strong></p></a>
  <small><p style=”margin-top:-10px”> | <a href="<%= article[:link] %>"><em>Source: MJBiz</em></a></p></small>
  <p>
  <%= article[:description] %>
  </p>
  </div>
<% end %>
